	<!--form action="/about" method ="post" accept-charset="utf-8">
		<label>Nom<input type="text" name="titre"></label>
		<label>Message<input type="text" name="message"></label>
		<input type="submit" value="submit">
	</form!-->


<center><h2>Nos Messages</h2></center>
<% @title.each do |newposte| %>
<p><%= newposte.name %></p>
<p><%= newposte.message %></p>
<p><%= newposte.created_at %><br>
<a href="/edit">Modifier</a> <a href="/del">Supprimmer</a></p>
<% end %>