<h1>À propos de pLog</h1>
<p>
  <a href='https://github.com/SimplonVillage/plog#plog'>pLog</a>
  est un outil qui permet à chaque binôme de suivre sa propre progression ainsi que la progression du groupe.
</p>
<img src='/me_reading_the_plog.gif' alt='My happy face while reading the pLog' />
<em>So many logs to read :)</em>
