<form action="/posts/<%= @post.id %>" method="post" accept-charset="utf-8">
	<input name="_method" type="hidden" value="put" />
	<p><textarea name="post[message]"><%= @post.message %></textarea></p>
	<input type="submit" value="Mettre à jour">
</form>