<!DOCTYPE html>
<html lang="fr">
<head> 
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
 <meta charset="utf-8">
   <title>PLog</title>
 </head>
 <body>
		    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		        <div class="container">
		            <div class="collapse navbar-collapse test1" id="bs-example-navbar-collapse-1">
		                <ul class="nav navbar-nav padbut">
		                    <li><a href="http://www.simplon-village.com">Simplon-Village</a></li>
		                    <li><a href="https://github.com/nazamhamdi/plog#plog">Plog</a></li>
		                </ul>
		            </div>
		        </div>
		    </nav>
		    <!--div class="container">
			  <center> <div class="hero-unit"><h1> Notre premier blog</h1></div></center>
		    </div-->
		    <a class="btn btn-lg btn-primary" href="/new" role="button">Nouveau message</a>

		         <%= yield %>

		    <div class="container contact">
		       <section class="row footer">
		          <div class="col-lg-12 logofoot">
		             <center><p>Naziha & Christopher © Simplon Village 2014.</p></center>
		          </div>
		        </section>
		   </div>

 </body>
</html>